USE [master]
GO
/****** Object:  Database [QuanLyNhaSach]    Script Date: 5/18/2026 12:16:27 PM ******/
CREATE DATABASE [QuanLyNhaSach]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyNhaSach', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQL2019\MSSQL\DATA\QuanLyNhaSach.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyNhaSach_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQL2019\MSSQL\DATA\QuanLyNhaSach_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyNhaSach].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyNhaSach]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TinhTongTienDonHang]    Script Date: 5/18/2026 12:16:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Sửa Function: Tính tổng tiền
CREATE   FUNCTION [dbo].[fn_TinhTongTienDonHang] (@MaDH INT)
RETURNS DECIMAL(18,2)
AS
BEGIN
    DECLARE @TongTien DECIMAL(18,2);
    
    SELECT @TongTien = SUM(SLSach * DonGia)
    FROM ChiTietDonDatHang
    WHERE MaDH = @MaDH;

    RETURN ISNULL(@TongTien, 0); 
END
GO
/****** Object:  Table [dbo].[Sach]    Script Date: 5/18/2026 12:16:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach](
	[MaSach] [int] IDENTITY(1,1) NOT NULL,
	[TenSach] [nvarchar](255) NOT NULL,
	[GiaGoc] [decimal](18, 2) NOT NULL,
	[HinhAnh] [varchar](500) NULL,
	[MoTa] [nvarchar](max) NULL,
	[SLTon] [int] NULL,
	[TrangThaiS] [bit] NULL,
	[MaTL] [int] NULL,
	[MaTG] [int] NULL,
	[MaNXB] [int] NULL,
 CONSTRAINT [PK__Sach__B235742DD46005CB] PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonDatHang]    Script Date: 5/18/2026 12:16:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonDatHang](
	[MaDH] [int] IDENTITY(1,1) NOT NULL,
	[NgayDat] [datetime] NULL,
	[TrangThaiDon] [int] NULL,
	[MaVanDon] [varchar](50) NULL,
	[DiaChiGH] [nvarchar](255) NOT NULL,
	[MaND] [int] NULL,
	[MaNguoiDuyet] [int] NULL,
	[TongTien] [decimal](18, 2) NULL,
 CONSTRAINT [PK__DonDatHa__2725866111C3ACAF] PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDonDatHang]    Script Date: 5/18/2026 12:16:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonDatHang](
	[MaDH] [int] NOT NULL,
	[MaSach] [int] NOT NULL,
	[SLSach] [int] NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK__ChiTietD__EC06D12342A4BA5F] PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC,
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_TopSachBanChay]    Script Date: 5/18/2026 12:16:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 1. TẠO VIEW: TOP SÁCH BÁN CHẠY NHẤT (Top 10)

CREATE   VIEW [dbo].[vw_TopSachBanChay] AS
SELECT TOP 10
    S.MaSach,
    S.TenSach,
    SUM(CT.SLSach) AS TongSoLuongBan
FROM Sach S
JOIN ChiTietDonDatHang CT ON S.MaSach = CT.MaSach
JOIN DonDatHang DDH ON CT.MaDH = DDH.MaDH
WHERE DDH.TrangThaiDon = 2 -- Logic: Chỉ tính các đơn hàng đã giao thành công (Mã = 2)
GROUP BY S.MaSach, S.TenSach
ORDER BY TongSoLuongBan DESC;
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 5/18/2026 12:16:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHang]    Script Date: 5/18/2026 12:16:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHang](
	[MaND] [int] NOT NULL,
	[MaSach] [int] NOT NULL,
	[TongSLSach] [int] NULL,
 CONSTRAINT [PK__GioHang__EC068066B8D4412E] PRIMARY KEY CLUSTERED 
(
	[MaND] ASC,
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 5/18/2026 12:16:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[NgayTao] [datetime] NULL,
	[TrangThaiTT] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](255) NULL,
	[MaDH] [int] NOT NULL,
 CONSTRAINT [PK__HoaDon__2725A6E03D1FDACB] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 5/18/2026 12:16:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaND] [int] NOT NULL,
	[TrangThaiTK] [bit] NULL,
 CONSTRAINT [PK__KhachHan__2725D7248678DFF4] PRIMARY KEY CLUSTERED 
(
	[MaND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 5/18/2026 12:16:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[MaND] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[Email] [varchar](100) NOT NULL,
	[Sdt] [varchar](15) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[TenND] [varchar](50) NOT NULL,
	[MatKhau] [varchar](255) NOT NULL,
 CONSTRAINT [PK__NguoiDun__2725D7246BA112F9] PRIMARY KEY CLUSTERED 
(
	[MaND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiQuanTri]    Script Date: 5/18/2026 12:16:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiQuanTri](
	[MaND] [int] NOT NULL,
	[NgayVaoLam] [date] NULL,
 CONSTRAINT [PK__NguoiQua__2725D7248A7FF95D] PRIMARY KEY CLUSTERED 
(
	[MaND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaXuatBan]    Script Date: 5/18/2026 12:16:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaXuatBan](
	[MaNXB] [int] IDENTITY(1,1) NOT NULL,
	[TenNXB] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK__NhaXuatB__3A19482C8C8E520E] PRIMARY KEY CLUSTERED 
(
	[MaNXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TacGia]    Script Date: 5/18/2026 12:16:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TacGia](
	[MaTG] [int] IDENTITY(1,1) NOT NULL,
	[TenTG] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK__TacGia__272500740870C41F] PRIMARY KEY CLUSTERED 
(
	[MaTG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheLoai]    Script Date: 5/18/2026 12:16:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheLoai](
	[MaTL] [int] IDENTITY(1,1) NOT NULL,
	[TenTL] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK__TheLoai__272500717CF3806F] PRIMARY KEY CLUSTERED 
(
	[MaTL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260514184607_AddMaNguoiDuyetToDonHang', N'8.0.22')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260514223310_FixForeignKey_DonDatHang', N'8.0.22')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260515014849_FixForeignKey_DonDatHang', N'8.0.0')
GO
INSERT [dbo].[ChiTietDonDatHang] ([MaDH], [MaSach], [SLSach], [DonGia]) VALUES (42, 47, 2, CAST(74000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietDonDatHang] ([MaDH], [MaSach], [SLSach], [DonGia]) VALUES (42, 50, 2, CAST(86000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietDonDatHang] ([MaDH], [MaSach], [SLSach], [DonGia]) VALUES (42, 101, 2, CAST(83500.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[DonDatHang] ON 

INSERT [dbo].[DonDatHang] ([MaDH], [NgayDat], [TrangThaiDon], [MaVanDon], [DiaChiGH], [MaND], [MaNguoiDuyet], [TongTien]) VALUES (42, CAST(N'2026-04-12T05:40:24.157' AS DateTime), 3, N'VNPOST78416', N'Địa chỉ giao hàng số 1', 7, 39, CAST(487000.00 AS Decimal(18, 2)))
INSERT [dbo].[DonDatHang] ([MaDH], [NgayDat], [TrangThaiDon], [MaVanDon], [DiaChiGH], [MaND], [MaNguoiDuyet], [TongTien]) VALUES (43, CAST(N'2026-03-31T05:40:24.157' AS DateTime), 1, N'VNPOST96105', N'Địa chỉ giao hàng số 2', 3, 38, CAST(549900.00 AS Decimal(18, 2)))
INSERT [dbo].[DonDatHang] ([MaDH], [NgayDat], [TrangThaiDon], [MaVanDon], [DiaChiGH], [MaND], [MaNguoiDuyet], [TongTien]) VALUES (44, CAST(N'2026-05-15T05:40:24.157' AS DateTime), 2, N'VNPOST58634', N'Địa chỉ giao hàng số 3', 31, 37, CAST(609000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[DonDatHang] OFF
GO
INSERT [dbo].[GioHang] ([MaND], [MaSach], [TongSLSach]) VALUES (1, 7, 1)
INSERT [dbo].[GioHang] ([MaND], [MaSach], [TongSLSach]) VALUES (1, 72, 2)
INSERT [dbo].[GioHang] ([MaND], [MaSach], [TongSLSach]) VALUES (2, 6, 3)
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([MaHD], [NgayTao], [TrangThaiTT], [GhiChu], [MaDH]) VALUES (41, CAST(N'2026-04-12T07:40:24.157' AS DateTime), N'Đã hủy', N'Hóa đơn xuất tự động từ hệ thống', 42)
INSERT [dbo].[HoaDon] ([MaHD], [NgayTao], [TrangThaiTT], [GhiChu], [MaDH]) VALUES (42, CAST(N'2026-03-31T07:40:24.157' AS DateTime), N'Đã thanh toán', N'Hóa đơn xuất tự động từ hệ thống', 43)
INSERT [dbo].[HoaDon] ([MaHD], [NgayTao], [TrangThaiTT], [GhiChu], [MaDH]) VALUES (43, CAST(N'2026-05-15T07:40:24.157' AS DateTime), N'Đã thanh toán', N'Hóa đơn xuất tự động từ hệ thống', 44)
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
GO
INSERT [dbo].[KhachHang] ([MaND], [TrangThaiTK]) VALUES (1, 1)
INSERT [dbo].[KhachHang] ([MaND], [TrangThaiTK]) VALUES (2, 1)
INSERT [dbo].[KhachHang] ([MaND], [TrangThaiTK]) VALUES (3, 1)
GO
SET IDENTITY_INSERT [dbo].[NguoiDung] ON 

INSERT [dbo].[NguoiDung] ([MaND], [HoTen], [GioiTinh], [Email], [Sdt], [DiaChi], [TenND], [MatKhau]) VALUES (1, N'Trần Thị Linh', N'Nam', N'user_001@gmail.com', N'0910845045', N'Số 42 Quang Trung, Phường Thông Tây Hội', N'user_001', N'$2a$11$3GLCKkVTcotUPQeRZcyC2.BYCz2OvtOM/Tug8NDewdt8xWDEtr/F.')
INSERT [dbo].[NguoiDung] ([MaND], [HoTen], [GioiTinh], [Email], [Sdt], [DiaChi], [TenND], [MatKhau]) VALUES (2, N'Phạm Thanh Trang', N'Nam', N'user_002@gmail.com', N'0884030063', N'Số 407 Nguyễn Văn Linh, Phường Tân Hưng', N'user_002', N'$2a$11$3GLCKkVTcotUPQeRZcyC2.BYCz2OvtOM/Tug8NDewdt8xWDEtr/F.')
INSERT [dbo].[NguoiDung] ([MaND], [HoTen], [GioiTinh], [Email], [Sdt], [DiaChi], [TenND], [MatKhau]) VALUES (3, N'Phạm Minh Khang', N'Nam', N'user_003@gmail.com', N'0842043805', N'Số 174 Hồ Hảo Hớn, Phường Cầu Ông Lãnh', N'user_003', N'$2a$11$3GLCKkVTcotUPQeRZcyC2.BYCz2OvtOM/Tug8NDewdt8xWDEtr/F.')
SET IDENTITY_INSERT [dbo].[NguoiDung] OFF
GO
INSERT [dbo].[NguoiQuanTri] ([MaND], [NgayVaoLam]) VALUES (36, CAST(N'2026-05-15' AS Date))
INSERT [dbo].[NguoiQuanTri] ([MaND], [NgayVaoLam]) VALUES (37, CAST(N'2026-05-15' AS Date))
INSERT [dbo].[NguoiQuanTri] ([MaND], [NgayVaoLam]) VALUES (38, CAST(N'2026-05-15' AS Date))
GO
SET IDENTITY_INSERT [dbo].[NhaXuatBan] ON 

INSERT [dbo].[NhaXuatBan] ([MaNXB], [TenNXB]) VALUES (1, N'NXB Dân Trí')
INSERT [dbo].[NhaXuatBan] ([MaNXB], [TenNXB]) VALUES (2, N'NXB Hà Nội')
INSERT [dbo].[NhaXuatBan] ([MaNXB], [TenNXB]) VALUES (3, N'NXB Hội Nhà Văn')
SET IDENTITY_INSERT [dbo].[NhaXuatBan] OFF
GO
SET IDENTITY_INSERT [dbo].[Sach] ON 

INSERT [dbo].[Sach] ([MaSach], [TenSach], [GiaGoc], [HinhAnh], [MoTa], [SLTon], [TrangThaiS], [MaTL], [MaTG], [MaNXB]) VALUES (2, N'Nhà Giả Kim (Tái Bản 2020)', CAST(67000.00 AS Decimal(18, 2)), N'https://cdn1.fahasa.com/media/catalog/product/i/m/image_195509_1_36793.jpg', N'Sách Nhà Giả Kim (Tái Bản 2020). Thuộc thể loại Books. Giá bán 67000 đồng.', 233, 1, 1, 18, 8)
INSERT [dbo].[Sach] ([MaSach], [TenSach], [GiaGoc], [HinhAnh], [MoTa], [SLTon], [TrangThaiS], [MaTL], [MaTG], [MaNXB]) VALUES (3, N'Bước Vào Bóng Tối Tập 2 Những Vụ Án Rung Chuyển Dư Luận', CAST(99000.00 AS Decimal(18, 2)), N'https://cdn1.fahasa.com/media/catalog/product/b/_/b_a-b_c-v_o-b_ng-t_i-2.jpg', N'Sách Bước Vào Bóng Tối Tập 2. Giá bán 0 đồng (Đã cập nhật giá mặc định).', 194, 1, 1, 2, 4)
GO
SET IDENTITY_INSERT [dbo].[Sach] OFF
GO
SET IDENTITY_INSERT [dbo].[TacGia] ON 

INSERT [dbo].[TacGia] ([MaTG], [TenTG]) VALUES (1, N'Bảo Ninh')
INSERT [dbo].[TacGia] ([MaTG], [TenTG]) VALUES (2, N'Bat Saber')
INSERT [dbo].[TacGia] ([MaTG], [TenTG]) VALUES (3, N'Đặng Thùy Trâm')
SET IDENTITY_INSERT [dbo].[TacGia] OFF
GO
SET IDENTITY_INSERT [dbo].[TheLoai] ON 

INSERT [dbo].[TheLoai] ([MaTL], [TenTL]) VALUES (1, N'Tiểu thuyết')
INSERT [dbo].[TheLoai] ([MaTL], [TenTL]) VALUES (2, N'Tâm lý - Kỹ năng sống')
INSERT [dbo].[TheLoai] ([MaTL], [TenTL]) VALUES (3, N'Kinh tế - Chính trị - Pháp lý')
SET IDENTITY_INSERT [dbo].[TheLoai] OFF
GO
/****** Object:  Index [IX_ChiTietDonDatHang_MaSach]    Script Date: 5/18/2026 12:16:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietDonDatHang_MaSach] ON [dbo].[ChiTietDonDatHang]
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DonDatHang_MaND]    Script Date: 5/18/2026 12:16:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_DonDatHang_MaND] ON [dbo].[DonDatHang]
(
	[MaND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DonDatHang_MaNguoiDuyet]    Script Date: 5/18/2026 12:16:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_DonDatHang_MaNguoiDuyet] ON [dbo].[DonDatHang]
(
	[MaNguoiDuyet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GioHang_MaSach]    Script Date: 5/18/2026 12:16:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_GioHang_MaSach] ON [dbo].[GioHang]
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__HoaDon__27258660682DFF8C]    Script Date: 5/18/2026 12:16:28 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__HoaDon__27258660682DFF8C] ON [dbo].[HoaDon]
(
	[MaDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NguoiDun__4CF9B49A554A5111]    Script Date: 5/18/2026 12:16:28 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__NguoiDun__4CF9B49A554A5111] ON [dbo].[NguoiDung]
(
	[TenND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NguoiDun__A9D10534E8753DD0]    Script Date: 5/18/2026 12:16:28 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__NguoiDun__A9D10534E8753DD0] ON [dbo].[NguoiDung]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Sach_MaNXB]    Script Date: 5/18/2026 12:16:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Sach_MaNXB] ON [dbo].[Sach]
(
	[MaNXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Sach_MaTG]    Script Date: 5/18/2026 12:16:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Sach_MaTG] ON [dbo].[Sach]
(
	[MaTG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Sach_MaTL]    Script Date: 5/18/2026 12:16:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Sach_MaTL] ON [dbo].[Sach]
(
	[MaTL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DonDatHang] ADD  DEFAULT (getdate()) FOR [NgayDat]
GO
ALTER TABLE [dbo].[DonDatHang] ADD  DEFAULT ((0)) FOR [TrangThaiDon]
GO
ALTER TABLE [dbo].[GioHang] ADD  DEFAULT ((1)) FOR [TongSLSach]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT (CONVERT([bit],(1))) FOR [TrangThaiTK]
GO
ALTER TABLE [dbo].[NguoiQuanTri] ADD  DEFAULT (getdate()) FOR [NgayVaoLam]
GO
ALTER TABLE [dbo].[Sach] ADD  DEFAULT ((0)) FOR [SLTon]
GO
ALTER TABLE [dbo].[Sach] ADD  DEFAULT (CONVERT([bit],(1))) FOR [TrangThaiS]
GO
ALTER TABLE [dbo].[ChiTietDonDatHang]  WITH CHECK ADD  CONSTRAINT [FK__ChiTietDo__MaSac__46E78A0C] FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
GO
ALTER TABLE [dbo].[ChiTietDonDatHang] CHECK CONSTRAINT [FK__ChiTietDo__MaSac__46E78A0C]
GO
ALTER TABLE [dbo].[ChiTietDonDatHang]  WITH CHECK ADD  CONSTRAINT [FK__ChiTietDon__MaDH__45F365D3] FOREIGN KEY([MaDH])
REFERENCES [dbo].[DonDatHang] ([MaDH])
GO
ALTER TABLE [dbo].[ChiTietDonDatHang] CHECK CONSTRAINT [FK__ChiTietDon__MaDH__45F365D3]
GO
ALTER TABLE [dbo].[DonDatHang]  WITH CHECK ADD  CONSTRAINT [FK__DonDatHang__MaND__4316F928] FOREIGN KEY([MaND])
REFERENCES [dbo].[KhachHang] ([MaND])
GO
ALTER TABLE [dbo].[DonDatHang] CHECK CONSTRAINT [FK__DonDatHang__MaND__4316F928]
GO
ALTER TABLE [dbo].[DonDatHang]  WITH CHECK ADD  CONSTRAINT [FK_DonDatHang_NguoiQuanTri_MaNguoiDuyet] FOREIGN KEY([MaNguoiDuyet])
REFERENCES [dbo].[NguoiQuanTri] ([MaND])
GO
ALTER TABLE [dbo].[DonDatHang] CHECK CONSTRAINT [FK_DonDatHang_NguoiQuanTri_MaNguoiDuyet]
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD  CONSTRAINT [FK__GioHang__MaND__3D5E1FD2] FOREIGN KEY([MaND])
REFERENCES [dbo].[KhachHang] ([MaND])
GO
ALTER TABLE [dbo].[GioHang] CHECK CONSTRAINT [FK__GioHang__MaND__3D5E1FD2]
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD  CONSTRAINT [FK__GioHang__MaSach__3E52440B] FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
GO
ALTER TABLE [dbo].[GioHang] CHECK CONSTRAINT [FK__GioHang__MaSach__3E52440B]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK__HoaDon__MaDH__4BAC3F29] FOREIGN KEY([MaDH])
REFERENCES [dbo].[DonDatHang] ([MaDH])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK__HoaDon__MaDH__4BAC3F29]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [FK__KhachHang__MaND__2F10007B] FOREIGN KEY([MaND])
REFERENCES [dbo].[NguoiDung] ([MaND])
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [FK__KhachHang__MaND__2F10007B]
GO
ALTER TABLE [dbo].[NguoiQuanTri]  WITH CHECK ADD  CONSTRAINT [FK__NguoiQuanT__MaND__32E0915F] FOREIGN KEY([MaND])
REFERENCES [dbo].[NguoiDung] ([MaND])
GO
ALTER TABLE [dbo].[NguoiQuanTri] CHECK CONSTRAINT [FK__NguoiQuanT__MaND__32E0915F]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK__Sach__MaNXB__398D8EEE] FOREIGN KEY([MaNXB])
REFERENCES [dbo].[NhaXuatBan] ([MaNXB])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK__Sach__MaNXB__398D8EEE]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK__Sach__MaTG__38996AB5] FOREIGN KEY([MaTG])
REFERENCES [dbo].[TacGia] ([MaTG])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK__Sach__MaTG__38996AB5]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK__Sach__MaTL__37A5467C] FOREIGN KEY([MaTL])
REFERENCES [dbo].[TheLoai] ([MaTL])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK__Sach__MaTL__37A5467C]
GO
/****** Object:  StoredProcedure [dbo].[sp_TaoDonHang_CoTransaction]    Script Date: 5/18/2026 12:16:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. Sửa Store Procedure: Khớp tên cột DiaChiGH, MaND, MaDH
CREATE   PROCEDURE [dbo].[sp_TaoDonHang_CoTransaction]
    @MaKH INT, 
    @DiaChiGiaoHang NVARCHAR(MAX),
    @GioHangJSON NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRAN; 

        -- 1. Chèn vào DonDatHang (Tổng tiền tạm thời để NULL hoặc 0)
        INSERT INTO DonDatHang (MaND, DiaChiGH, TrangThaiDon, NgayDat)
        VALUES (@MaKH, @DiaChiGiaoHang, 0, GETDATE());
        
        DECLARE @MaDonVuaTao INT = SCOPE_IDENTITY(); 

        -- 2. Chèn vào HoaDon 
        INSERT INTO HoaDon (MaDH, TrangThaiTT, NgayTao)
        VALUES (@MaDonVuaTao, N'Chưa thanh toán', GETDATE());

        -- 3. Chèn chi tiết từ JSON
        INSERT INTO ChiTietDonDatHang (MaDH, MaSach, SLSach, DonGia)
        SELECT 
            @MaDonVuaTao, 
            CAST(JSON_VALUE(value, '$.MaSach') AS INT), 
            CAST(JSON_VALUE(value, '$.SoLuongSP') AS INT), 
            CAST(JSON_VALUE(value, '$.DonGia') AS DECIMAL(18,2))
        FROM OPENJSON(@GioHangJSON);

        -- 4. TÍNH VÀ CẬP NHẬT TỔNG TIỀN
        DECLARE @TongTienDon DECIMAL(18,2);

        -- Bắt buộc phải có SET và dbo.
        SET @TongTienDon = dbo.fn_TinhTongTienDonHang(@MaDonVuaTao);

        -- Do bên trong Function bạn đã có lệnh ISNULL rồi, nên kết quả trả về chắc chắn không bao giờ NULL
        UPDATE DonDatHang
        SET TongTien = @TongTienDon
        WHERE MaDH = @MaDonVuaTao;

        COMMIT TRAN; 
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRAN; 
        DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrMsg, 16, 1);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ThongKeDoanhThu]    Script Date: 5/18/2026 12:16:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. Stored Procedure: Thống kê doanh thu theo tháng/năm
-- Nếu không truyền tham số thì trả về toàn bộ doanh thu theo từng tháng
CREATE   PROCEDURE [dbo].[sp_ThongKeDoanhThu]
    @Nam  INT = NULL,   -- NULL = tất cả các năm
    @Thang INT = NULL   -- NULL = tất cả các tháng trong năm
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        YEAR(hd.NgayTao)                        AS Nam,
        MONTH(hd.NgayTao)                       AS Thang,
        COUNT(DISTINCT hd.MaHD)                 AS SoDonHang,
        SUM(ddh.TongTien)                       AS DoanhThu
    FROM HoaDon hd
    INNER JOIN DonDatHang ddh ON hd.MaDH = ddh.MaDH
    WHERE
        ddh.TrangThaiDon = 3  -- chỉ tính đơn đã hoàn thành
        AND (@Nam   IS NULL OR YEAR(hd.NgayTao)  = @Nam)
        AND (@Thang IS NULL OR MONTH(hd.NgayTao) = @Thang)
    GROUP BY
        YEAR(hd.NgayTao),
        MONTH(hd.NgayTao)
    ORDER BY
        Nam DESC,
        Thang DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ThongKeDoanhThuTheoNgay]    Script Date: 5/18/2026 12:16:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. TẠO SP: THỐNG KÊ DOANH THU THEO NGÀY

CREATE   PROCEDURE [dbo].[sp_ThongKeDoanhThuTheoNgay]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        CAST(HD.NgayTao AS DATE) AS Ngay,
        COUNT(DISTINCT HD.MaHD) AS SoDonHang,
        SUM(CT.SLSach * CT.DonGia) AS DoanhThu
    FROM HoaDon HD
    JOIN DonDatHang DDH ON HD.MaDH = DDH.MaDH
    JOIN ChiTietDonDatHang CT ON DDH.MaDH = CT.MaDH
    WHERE DDH.TrangThaiDon = 2 -- Logic: Chỉ tính các đơn đã hoàn thành
    GROUP BY CAST(HD.NgayTao AS DATE)
    ORDER BY Ngay DESC;
END
GO
USE [master]
GO
